# Data Science Project

### Load Data

In [1]:
import pandas as pd
import numpy as np

### Google Play Store Data

Details of the applications on Google Play. There are 13 features thstrong strong texttextat describe a given app.. Expilo. Ed

Here we will import and visualize the first five rows in the data set

In [2]:
app = pd.read_csv("utility/googleplaystore.csv")
app

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

As we can see below, we have different types of datatypes. We only have one column (which is 'Rating') that is acceptable to calculate. For the rest of the columns we need to cover it into a type that the machine is able to perform calculations

In [3]:
app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [4]:
app['Price'].describe()

count     10841
unique       93
top           0
freq      10040
Name: Price, dtype: object

An app can belong to multiple sub-genres (apart from its main category). For eg, a musical family game will belong to Music, Game, Family genres.

In [5]:
app['Genres'].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'February 11, 2018', 'Strategy;Creativity'], dtype=object)

Category the app belongs to. The primary category should be the one that best describes the main function or subject matter of the app.

In [6]:
app.Genres = app.Genres.replace('February 11, 2018', 'Tools' )

In [7]:
app['Genres'].unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity',
       'Strategy;Creativity'], dtype=object)

In [8]:
app['Category'].value_counts(normalize=True)
len(app.Category.unique())

34

Make changes to unusual categories

In [9]:
app.Category= app.Category.replace('1.9', 'TOOLS')
app['Category'].value_counts(normalize=True)

FAMILY                 0.181902
GAME                   0.105525
TOOLS                  0.077853
MEDICAL                0.042708
BUSINESS               0.042432
PRODUCTIVITY           0.039111
PERSONALIZATION        0.036159
COMMUNICATION          0.035698
SPORTS                 0.035421
LIFESTYLE              0.035237
FINANCE                0.033761
HEALTH_AND_FITNESS     0.031455
PHOTOGRAPHY            0.030901
SOCIAL                 0.027212
NEWS_AND_MAGAZINES     0.026105
SHOPPING               0.023983
TRAVEL_AND_LOCAL       0.023799
DATING                 0.021585
BOOKS_AND_REFERENCE    0.021308
VIDEO_PLAYERS          0.016142
EDUCATION              0.014390
ENTERTAINMENT          0.013744
MAPS_AND_NAVIGATION    0.012637
FOOD_AND_DRINK         0.011715
HOUSE_AND_HOME         0.008117
AUTO_AND_VEHICLES      0.007841
LIBRARIES_AND_DEMO     0.007841
WEATHER                0.007564
ART_AND_DESIGN         0.005996
EVENTS                 0.005904
COMICS                 0.005535
PARENTING              0.005535
BEAUTY                 0.004889
Name: Category, dtype: float64

In [10]:
app['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

In [11]:
app['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

We need to convert dtypes into string to be able to clean the data

In [12]:
app= app.convert_dtypes()
app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  string
 1   Category        10841 non-null  string
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  string
 4   Size            10841 non-null  string
 5   Installs        10841 non-null  string
 6   Type            10840 non-null  string
 7   Price           10841 non-null  string
 8   Content Rating  10840 non-null  string
 9   Genres          10841 non-null  string
 10  Last Updated    10841 non-null  string
 11  Current Ver     10833 non-null  string
 12  Android Ver     10838 non-null  string
dtypes: float64(1), string(12)
memory usage: 1.1 MB

We will then clean Price by removing the '$' from the string and also convert it into a float64 so the machine can read it

In [13]:
app.Price = app.Price.str.replace("$", "")
app.Price = app.Price.str.replace('Everyone', '0')
app.Price.loc[app.Price != '0']

234       4.99
235       4.99
290       4.99
291       4.99
427       3.99
         ...
10735     0.99
10760     7.99
10782    16.99
10785     1.20
10798     1.04
Name: Price, Length: 800, dtype: string

In [14]:
app.Price = pd.to_numeric(app.Price)
app.Price.loc[app.Price != 0]

234       4.99
235       4.99
290       4.99
291       4.99
427       3.99
         ...
10735     0.99
10760     7.99
10782    16.99
10785     1.20
10798     1.04
Name: Price, Length: 800, dtype: float64

Next we want to separate the genres. This will make it easier for use to use one hot encoder to have multiple values for genres. We are going to split the entry by '&' and ';'

In [15]:
app.Genres = app.Genres.str.replace(" ", "")
temp = app.Genres.str.split(';|&').apply(pd.Series)
print(temp)

               0          1            2    3
0            Art     Design          NaN  NaN
1            Art     Design  PretendPlay  NaN
2            Art     Design          NaN  NaN
3            Art     Design          NaN  NaN
4            Art     Design   Creativity  NaN
...          ...        ...          ...  ...
10836  Education        NaN          NaN  NaN
10837  Education        NaN          NaN  NaN
10838    Medical        NaN          NaN  NaN
10839      Books  Reference          NaN  NaN
10840  Lifestyle        NaN          NaN  NaN

[10841 rows x 4 columns]

In [16]:
df = (pd.get_dummies(temp[0])
        .add(pd.get_dummies(temp[1]), fill_value=0)
        .add(pd.get_dummies(temp[2]), fill_value=0)
        .add(pd.get_dummies(temp[3]), fill_value=0)
        .astype(int))

df1 = pd.DataFrame(df)
df1[['Art','Design','Education','Creativity','Medical','PretendPlay']]

       Art  Design  Education  Creativity  Medical  PretendPlay
0        1       1          0           0        0            0
1        1       1          0           0        0            1
2        1       1          0           0        0            0
3        1       1          0           0        0            0
4        1       1          0           1        0            0
...    ...     ...        ...         ...      ...          ...
10836    0       0          1           0        0            0
10837    0       0          1           0        0            0
10838    0       0          0           0        1            0
10839    0       0          0           0        0            0
10840    0       0          0           0        0            0

[10841 rows x 6 columns]

In [17]:
app = app.drop('Genres',axis=1)
app = pd.concat([app, df1],axis=1)

In [18]:
app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 75 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              10841 non-null  string
 1   Category         10841 non-null  string
 2   Rating           9367 non-null   float64
 3   Reviews          10841 non-null  string
 4   Size             10841 non-null  string
 5   Installs         10841 non-null  string
 6   Type             10840 non-null  string
 7   Price            10841 non-null  float64
 8   Content Rating   10840 non-null  string
 9   Last Updated     10841 non-null  string
 10  Current Ver      10833 non-null  string
 11  Android Ver      10838 non-null  string
 12  Action           10841 non-null  int64
 13  Adventure        10841 non-null  int64
 14  Arcade           10841 non-null  int64
 15  Art              10841 non-null  int64
 16  Audio            10841 non-null  int64
 17  Auto             10841 non-null  int64
 18  Beauty           10841 non-null  int64
 19  Board            10841 non-null  int64
 20  Books            10841 non-null  int64
 21  BrainGames       10841 non-null  int64
 22  Business         10841 non-null  int64
 23  Card             10841 non-null  int64
 24  Casino           10841 non-null  int64
 25  Casual           10841 non-null  int64
 26  Comics           10841 non-null  int64
 27  Communication    10841 non-null  int64
 28  Creativity       10841 non-null  int64
 29  Dating           10841 non-null  int64
 30  Demo             10841 non-null  int64
 31  Design           10841 non-null  int64
 32  Drink            10841 non-null  int64
 33  Editors          10841 non-null  int64
 34  Education        10841 non-null  int64
 35  Educational      10841 non-null  int64
 36  Entertainment    10841 non-null  int64
 37  Events           10841 non-null  int64
 38  Finance          10841 non-null  int64
 39  Fitness          10841 non-null  int64
 40  Food             10841 non-null  int64
 41  Health           10841 non-null  int64
 42  Home             10841 non-null  int64
 43  House            10841 non-null  int64
 44  Libraries        10841 non-null  int64
 45  Lifestyle        10841 non-null  int64
 46  Local            10841 non-null  int64
 47  Magazines        10841 non-null  int64
 48  Maps             10841 non-null  int64
 49  Medical          10841 non-null  int64
 50  Music            10841 non-null  int64
 51  Navigation       10841 non-null  int64
 52  News             10841 non-null  int64
 53  Parenting        10841 non-null  int64
 54  Personalization  10841 non-null  int64
 55  Photography      10841 non-null  int64
 56  PretendPlay      10841 non-null  int64
 57  Productivity     10841 non-null  int64
 58  Puzzle           10841 non-null  int64
 59  Racing           10841 non-null  int64
 60  Reference        10841 non-null  int64
 61  RolePlaying      10841 non-null  int64
 62  Shopping         10841 non-null  int64
 63  Simulation       10841 non-null  int64
 64  Social           10841 non-null  int64
 65  Sports           10841 non-null  int64
 66  Strategy         10841 non-null  int64
 67  Tools            10841 non-null  int64
 68  Travel           10841 non-null  int64
 69  Trivia           10841 non-null  int64
 70  Vehicles         10841 non-null  int64
 71  Video            10841 non-null  int64
 72  VideoPlayers     10841 non-null  int64
 73  Weather          10841 non-null  int64
 74  Word             10841 non-null  int64
dtypes: float64(2), int64(63), string(10)
memory usage: 6.2 MB

In [19]:
app.shape

(10841, 75)

In [20]:
app[app.columns[7:33]]

,Price,Content Rating,Last Updated,Current Ver,Android Ver,Action,Adventure,Arcade,Art,Audio,...,Card,Casino,Casual,Comics,Communication,Creativity,Dating,Demo,Design,Drink
0,0.0,Everyone,"January 7, 2018",1.0.0,4.0.3 and up,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,0.0,Everyone,"January 15, 2018",2.0.0,4.0.3 and up,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,0.0,Everyone,"August 1, 2018",1.2.4,4.0.3 and up,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,0.0,Teen,"June 8, 2018",Varies with device,4.2 and up,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,0.0,Everyone,"June 20, 2018",1.1,4.4 and up,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,0.0,Everyone,"July 25, 2017",1.48,4.1 and up,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10837,0.0,Everyone,"July 6, 2018",1.0,4.1 and up,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10838,0.0,Everyone,"January 20, 2017",1.0,2.2 and up,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10839,0.0,Mature 17+,"January 19, 2015",Varies with device,Varies with device,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10840,0.0,Everyone,"July 25, 2018",Varies with device,Varies with device,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Now we want to add 'CATEGORY' to the one hot encoder but we need to do the same as Genres. We only want to replace '0' the missing genres that change it to'1'. We first want to isolate categories to another dataframe to do the manipulations

In [21]:
temp = pd.DataFrame(app.Category).convert_dtypes()
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  10841 non-null  string
dtypes: string(1)
memory usage: 84.8 KB

We first want to format by lowercasing it and then uppercasing the title

In [22]:
temp.Category = temp.Category.str.replace('_', ' ')
temp.Category = temp.Category.str.title()
temp.Category = temp.Category.str.replace(' And ', ';')
temp.Category = temp.Category.str.replace(' ', '')

temp.Category.unique()

<StringArray>
[     'Art;Design',   'Auto;Vehicles',          'Beauty', 'Books;Reference',
        'Business',          'Comics',   'Communication',          'Dating',
       'Education',   'Entertainment',          'Events',         'Finance',
      'Food;Drink',  'Health;Fitness',      'House;Home',  'Libraries;Demo',
       'Lifestyle',            'Game',          'Family',         'Medical',
          'Social',        'Shopping',     'Photography',          'Sports',
    'Travel;Local',           'Tools', 'Personalization',    'Productivity',
       'Parenting',         'Weather',    'VideoPlayers',  'News;Magazines',
 'Maps;Navigation']
Length: 33, dtype: string

This table

In [23]:
temp = temp.Category.str.split(';').apply(pd.Series)
print(temp)

               0          1
0            Art     Design
1            Art     Design
2            Art     Design
3            Art     Design
4            Art     Design
...          ...        ...
10836     Family        NaN
10837     Family        NaN
10838    Medical        NaN
10839      Books  Reference
10840  Lifestyle        NaN

[10841 rows x 2 columns]

In [24]:
cate_df = (pd.get_dummies(temp[0])
        .add(pd.get_dummies(temp[1]), fill_value=0)
        .astype(int))

cate_df = pd.DataFrame(cate_df)
cate_df

,Art,Auto,Beauty,Books,Business,Comics,Communication,Dating,Demo,Design,...,Productivity,Reference,Shopping,Social,Sports,Tools,Travel,Vehicles,VideoPlayers,Weather
0,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10839,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

To have only '1' be checked off we will have all '0' turn into Nan then replace those only with the second table.

In [25]:
app[app.columns[12:]] = app[app.columns[12:]].replace(0, np.nan)
app[app.columns[12:]]

,Action,Adventure,Arcade,Art,Audio,Auto,Beauty,Board,Books,BrainGames,...,Sports,Strategy,Tools,Travel,Trivia,Vehicles,Video,VideoPlayers,Weather,Word
0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We will add the missing columns from app to cate_df and reindex the columns to be the same format alphabetically

In [26]:
for x in app.columns[12:]:
    if not x in cate_df.columns:
        cate_df[x] = 0

cate_df = cate_df.reindex(sorted(cate_df.columns), axis=1)
cate_df

,Action,Adventure,Arcade,Art,Audio,Auto,Beauty,Board,Books,BrainGames,...,Sports,Strategy,Tools,Travel,Trivia,Vehicles,Video,VideoPlayers,Weather,Word
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10839,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
for i in cate_df.columns:
    if not i in app.columns:
        app[i] = np.nan
        
range = app.columns[12:]
app[range]

,Action,Adventure,Arcade,Art,Audio,Auto,Beauty,Board,Books,BrainGames,...,Tools,Travel,Trivia,Vehicles,Video,VideoPlayers,Weather,Word,Family,Game
0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
app[range] = app.reindex(sorted(app[range]), axis=1)
app[range]

,Action,Adventure,Arcade,Art,Audio,Auto,Beauty,Board,Books,BrainGames,...,Tools,Travel,Trivia,Vehicles,Video,VideoPlayers,Weather,Word,Family,Game
0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now we will add col to cate_df to to be able to merge to app

In [29]:
app[range] = app[range].combine_first(cate_df)
app[range].loc[app['Family'] == 1.0]
app = app.drop('Category', 1)

### Convert installs into something suitable for the computer

The first step is to convert the numbers into strings and get rid of the + and convert into float64

In [30]:
app.Installs = app.Installs.str.replace('+', '')
app.Installs.value_counts()

1,000,000        1579
10,000,000       1252
100,000          1169
10,000           1054
1,000             907
5,000,000         752
100               719
500,000           539
50,000            479
5,000             477
100,000,000       409
10                386
500               330
50,000,000        289
50                205
5                  82
500,000,000        72
1                  67
1,000,000,000      58
0                  15
Free                1
Name: Installs, dtype: Int64

In [31]:
app.Installs = app.Installs.str.replace('Free', '0')
app.Installs = app.Installs.str.replace(',', '')
app.Installs.unique()

<StringArray>
[     '10000',     '500000',    '5000000',   '50000000',     '100000',
      '50000',    '1000000',   '10000000',       '5000',  '100000000',
 '1000000000',       '1000',  '500000000',         '50',        '100',
        '500',         '10',          '1',          '5',          '0']
Length: 20, dtype: string

In [32]:
app.Installs = pd.to_numeric(app.Installs)
app.Installs

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10841, dtype: int64

## Linear Regression

## Split the data

In [62]:
from sklearn.model_selection import train_test_split
range = app.columns[11:]
X, y = app[range], app.Installs
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [65]:
from sklearn.linear_model import LinearRegression

my_lin = LinearRegression()

my_lin.fit(X_train, y_train)

LinearRegression()

In [66]:
print(my_lin.intercept_)
print(my_lin.coef_)

-6833785.590010542
[ 3.50012845e+06  4.00060504e+06  3.35256634e+07 -1.34455032e+20
  1.59339691e+07 -1.60573624e+20  8.45206263e+06 -9.82075444e+06
  5.32062646e+20  1.84679392e+06  9.91371852e+06 -1.71128911e+07
 -1.80105791e+07  4.28693796e+07  6.10649349e+06  7.90099500e+07
 -1.15510051e+07  7.34175693e+06  5.82182650e+19  1.34455032e+20
  2.32738070e+21 -5.55765699e+19  1.32392066e+07  1.40517479e+07
  2.26176117e+07  6.00512861e+06 -8.18696915e+06 -1.38200303e+20
  1.38200303e+20 -2.18918039e+21  2.82100085e+07 -1.38200303e+20
 -2.64974034e+21  2.18918039e+21  4.60559950e+20  3.12934400e+06
 -5.18778215e+20  4.84966400e+06  3.58204591e+20  1.43442777e+20
 -2.10218324e+20 -1.43442777e+20 -1.20586240e+07 -4.54348992e+18
 -1.43442777e+20  4.54348992e+18  1.43442777e+20 -4.54348992e+18
 -4.01408000e+06  4.54348992e+18  1.88743680e+07  2.03161600e+06
 -5.32062646e+20  1.44179200e+07  5.32062646e+20  1.23207680e+07
 -5.32062646e+20  1.66297600e+06  2.45760000e+07  2.21511680e+07
  1.60573624e+20 -1.59907840e+07  2.52968960e+07  1.74325760e+07
  5.55765699e+19]

As you can see the accuracy is really low so we will normalize the y will help us make the accuracy better

In [67]:
y_pred = my_lin.predict(X_test)
print(y_pred)

[54901886.38882773  1030534.40998946  1618277.04142725 ...
  -602834.73608368 72176164.44912536 29604230.40998946]

In [68]:
from sklearn import metrics

m = metrics.mean_squared_error(y_test, y_pred)
r = np.sqrt(m)
print(r)

83553275.38869324

## Applying 10-fold Cross Validation for 'Linear Regression'

In [71]:
from sklearn.model_selection import cross_val_score

mse_list = cross_val_score(my_lin, X, y, cv=76, scoring='neg_mean_squared_error')
print(mse_list)

[-8.75207945e+13 -7.14990804e+15 -7.48656127e+16 -2.41113010e+16
 -5.42894722e+13 -2.26457640e+14 -7.55747369e+15 -1.61444494e+14
 -1.16085702e+14 -1.37016784e+14 -1.14407189e+13 -2.09247458e+16
 -1.53337798e+16 -2.34513335e+16 -3.12862600e+39 -5.23439090e+14
 -4.43097314e+11 -2.26418737e+16 -1.68843041e+16 -1.41786124e+16
 -7.80447279e+15 -1.37372311e+16 -2.60789240e+16 -2.55472459e+15
 -3.56067247e+16 -1.69454083e+16 -2.92616720e+16 -4.96472528e+16
 -3.66320801e+16 -2.92704111e+16 -2.33636303e+15 -2.31835217e+15
 -2.34163471e+15 -9.55865813e+14 -6.21448146e+14 -5.81835204e+14
 -4.65212637e+14 -6.95826772e+15 -4.93456918e+14 -2.55657680e+15
 -7.56673661e+15 -4.86222599e+14 -7.55304214e+14 -5.62073171e+14
 -4.28180903e+14 -4.88384977e+14 -3.24243397e+14 -7.97171477e+14
 -3.32929488e+14 -5.76164829e+14 -2.63774345e+14 -2.48293359e+37
 -2.24644658e+15 -3.82919557e+14 -7.37302861e+14 -5.14017202e+14
 -1.03583252e+15 -4.12448092e+14 -5.98786037e+14 -1.03613621e+15
 -7.27804065e+14 -4.99058703e+14 -6.89058427e+14 -6.10733889e+14
 -5.02411608e+14 -4.44033887e+14 -5.43995643e+14 -3.66916175e+14
 -7.22124823e+15 -5.64142883e+14 -6.30890745e+14 -1.06774763e+15
 -1.92412816e+14 -9.85783043e+14 -7.54569205e+14 -7.44145211e+14]

In [72]:
mse_list_pos = -mse_list

r = np.sqrt(mse_list_pos)
print(r)

[9.35525491e+06 8.45571289e+07 2.73615812e+08 1.55278141e+08
 7.36813899e+06 1.50485096e+07 8.69337316e+07 1.27060810e+07
 1.07743075e+07 1.17054169e+07 3.38241317e+06 1.44653883e+08
 1.23829640e+08 1.53138282e+08 5.59341219e+19 2.28787913e+07
 6.65655552e+05 1.50472169e+08 1.29939617e+08 1.19073978e+08
 8.83429272e+07 1.17205935e+08 1.61489702e+08 5.05442835e+07
 1.88697442e+08 1.30174530e+08 1.71060434e+08 2.22816635e+08
 1.91395089e+08 1.71085976e+08 4.83359393e+07 4.81492696e+07
 4.83904403e+07 3.09170796e+07 2.49288617e+07 2.41212604e+07
 2.15687885e+07 8.34162318e+07 2.22138902e+07 5.05626028e+07
 8.69869911e+07 2.20504557e+07 2.74827985e+07 2.37080824e+07
 2.06925325e+07 2.20994339e+07 1.80067597e+07 2.82342253e+07
 1.82463555e+07 2.40034337e+07 1.62411313e+07 4.98290436e+18
 4.73966938e+07 1.95683305e+07 2.71533214e+07 2.26719475e+07
 3.21843521e+07 2.03088181e+07 2.44701050e+07 3.21890698e+07
 2.69778440e+07 2.23396218e+07 2.62499224e+07 2.47130308e+07
 2.24145401e+07 2.10721116e+07 2.33237142e+07 1.91550561e+07
 8.49779279e+07 2.37516922e+07 2.51175386e+07 3.26764079e+07
 1.38712947e+07 3.13971821e+07 2.74694231e+07 2.72790251e+07]

In [73]:
print(r.mean())

8.015398198720682e+17